body {
    font-family: "Zen Maru Gothic", sans-serif;
    padding: 0;
    margin: 0;
}

.header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(61, 54, 77, 0.9);
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

/*ヘッダー*/
.header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(61, 54, 77, 0.9);
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
}

.header-nav {
    color: aliceblue;
    text-decoration: none;
}

.header-wrapper>a.header-nav {
    margin-right: 300px;
}

.header-wrapper__nav {
    display: flex;
    gap: 30px;
}
/*内容*/
