.content {
    position: relative;
    width: 100%;
    height: auto;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
        url("../images/okumono_hosisoratate2 (1).png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 80px;
    padding: 50px 0;
    overflow: hidden;
}